@font-face {
  font-family: quicksand;
  src: url("../../public/font/Quicksand-Regular.ttf");
}
@font-face {
  font-family: publica;
  src: url("../../public/font/PublicaPlay-Regular.otf");
}
:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
* {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
