.container {
  padding: 15px 80px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  margin: 0;
  /* background: #fafafa; */

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.logo {
  font-family: publica;
  font-size: 24px;
  padding: 0;
  align-items: center;
  color: #540c6f;
  letter-spacing: 2px;
  border: 1px solid #d8d8d8;
  padding: 15px 30px;
  border-radius: 50px;
}
.auth {
  display: flex;
  gap: 20px;
  align-items: center !important;
  margin-left: auto;
  padding-right: 140px;
}
.btn1 {
}
.btn1Img {
  width: 25px;
  height: 25px;
  padding: 15px;
  /* background: #fff !important; */
  /* border-radius: 50%; */
  /* border: 1px solid #d8d8d8; */
  margin-top: 5px;
}
.btn2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  /* background: #fff !important; */
  /* border-radius: 50px; */
  /* border: 1px solid #d8d8d8; */
  font-family: publica;
  font-size: 22px;
  color: #000;
}
.btn2Img {
  width: 30px;
  height: 30px;
}
.btn3 {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #540c6f !important;
  padding: 20px 30px;
  border-radius: 50px;
  font-family: publica;
  font-size: 22px;
  color: #fff;
  border: none;
}
.btn3Img {
  width: 30px;
  height: 30px;
}
.btn4 {
  display: none;
}
.btn5 {
  display: none;
}
.user {
  width: 32px;
  height: 32px;
  background: #fff !important;
  padding: 10px;
  border-radius: 50%;
  margin-top: 10px;
}

@media screen and (max-width: 830px) {
  .container {
    width: 100%;
    padding: 10px;
    align-items: center !important;
  }
  .logo {
    font-size: 22px;
    padding: 10px;
    background: #fff !important;
    border: none;
  }
  .auth {
    margin-left: auto;
    padding-right: 20px;
  }
  .btn1Img {
    width: 25px;
    height: 25px;
    padding: 10px;
    /* border: 1px solid #d8d8d8; */
    background: #fff !important;
    border-radius: 50%;
  }
  .btn2 {
    display: none;
  }
  .btn3 {
    display: none;
  }
  .btn4 {
    display: block;
  }
  .btn4Img {
    width: 25px;
    height: 25px;
    background: #fff !important;
    padding: 10px;
    border-radius: 50%;
    margin-top: 5px;
    /* border: 1px solid #d8d8d8; */
  }
  .btn5 {
    display: block;
  }
  .btn5Img {
    width: 25px;
    height: 25px;
    background: #fff !important;
    padding: 10px;
    border-radius: 50%;
    margin-top: 5px;
    border: 1px solid #d8d8d8;
  }
}
